html {
  scroll-behavior: smooth;
}

main{
  font-family: "Montserrat", sans-serif;
}
.log-out-content {
  grid-area: logout;
  display: flex;
  align-items: center;
  gap: 5px;
}

.log-out__button {
  background-color: transparent;
  color: #000;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  border: 0;
  transition: all 400ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
}

.log-out__text {
  font-size: 1.25rem;
  font-weight: 600;
}