body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    max-width: 22vw;
    
}

.successfully-reset-password__title{
    font-size: 1.875rem;
}

.successfully-reset-password__text{
    font-size: 1rem;
    font-weight: 500;
}

.continue-log-in__link{

}

.continue-log-in__button{
    width: 314px;
    height: 46px;
    background: #408d7b;
    border-radius: 5px;
    color: #fff;
    font-family: "Abel";
    font-size: 1.125rem;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 128px;
}